h1 {
    color: red;
    box-shadow: 2px;
    text-align: center;
    border-radius: 80%;
    padding: 2px 2px 2px 2px;
    border: 5px solid purple;
    font-family: Roboto;
}

ul, p {
    background: purple;
}

li{
    color: white;
}

img{
    margin: 8px;
    padding: 20px;
    box-shadow: 20px;
    background-color: purple;
    border-radius: 20%;
}

.boxmodel{
    border: 5px solid red;
    display: inline-block;
    padding: 20px;
    margin: 21px;
}

/*
rem => relativo  al documento root
em => relativo alla font size dell'elemento
vw => relativ all'1% della vista
% relativo al parent
*/

/* Selettori: 
.classe
#id
* (tutti gli elementi
element, element ( si applica su più classi)
elmentex elementy (tutti gli elementiy che sono dentro elementx*
h2 > p  tutti i p parenti di h2
h2 + p tutti i p esattamente dopo h2
:hover cosa accade dopo
:last-child solo ultimo figio
:first-child solo primo figlio

-specifity 
-importance
-order ss
*/  
